{% extends "admin/base_admin.html" %}
{% block content %}
<div class="character_card">
    <table class="character_details">
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Owner</th>
        </tr>
        <tr>
            <td><input type="text" value="John 'Johny' Johnson" readonly/></td>
            <td><input type="text" value="NetRunner" redonly/></td>
            <td><input type="text" value="Linku" redonly/></td>
        </tr>
    </table>

    <div class="flex_wrapper">
        <table class="character_sheet">
            <tr>
                <th width="18%">Stats</th>
                <th>Equipment</th>
                <th>Condition</th>
            </tr>
            <tr>
                <td>
                    <table class="character_stats">
                        <tr>
                            <td><label>Strength</label></td>
                            <td><input type="number"></td>
                        </tr>
                        <tr>
                            <td><label>Agility</label></td>
                            <td><input type="number"></td>
                        </tr>
                        <tr>
                            <td><label>Endurance</label></td>
                            <td><input type="number"></td>
                        </tr>
                        <tr>
                            <td><label>Spirit</label></td>
                            <td><input type="number"></td>
                        </tr>
                        <tr>
                            <td><label>Luck</label></td>
                            <td><input type="number"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="character_equipment"></div>
                </td>

                <td>
                    <div class="character_conditions"></div>
                </td>
            </tr>
        </table>

    </div>
</div>
{% endblock %}