<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='css/hacker.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <style>
.mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  border: 1px solid #0c0 ;
}

.mydivheader {
  padding: 8px;
  width: 200px;
  cursor: move;
  z-index: 10;
  background-color: #0c0;
}
</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Scan</a></li>
            <li><a href="#">Documents</a></li>
            <li><a href="#">Target</a></li>
        </ul>
    </nav>
</header>

<!-- Draggable DIV
<div id="mydiv" class="mydiv">
  <div id="mydivheader" class="mydivheader"></div>
  <p>Move</p>
  <p>this</p>
  <p>DIV</p>
</div>
<div id="mydiv2" class="mydiv">
  <div id="mydivheader2" class="mydivheader"></div>
  <p>Move</p>
  <p>this</p>
  <p>DIV</p>
</div>-->

    {% block content %}
    {% endblock %}
<!--<script>
dragElement(document.getElementById("mydiv"));
dragElement(document.getElementById("mydiv2"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}

</script>-->
</body>
</html>